:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    font-weight: bold;
    background-color: #737272;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 75px;
}

#grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-cols), 1fr);
    border: 5px solid black;
}

.grid-item {
    padding: 1px;
    text-align: center;
    background-color: white;
}

.grid-item:hover {
    background-color: black;
}

.grid-item:hover::after {
    background-color: black;
}