:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    font-weight: bold;
    background-color: #737272;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 75px;
}

#grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-cols), 1fr);
    border: 5px solid black;
}

.gridItem {
    background-color: white;
    color: white;
}

#device {
    display: flex;
    flex-direction: row;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 5px solid black;
    border-right: 0;
}

button {
    width: 80px;
    margin: 5px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    border:none;
    background-color: #c7c7c7;
}

button:hover {
    background-color: #ffffff;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 25px;
    margin-bottom: 8px;
  }

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
  }